<div data-ng-include="'accessibility.html'"></div>
<div data-ng-include="'ieold.html'"></div>
<%= render 'templates/launcher' %>

<div class="cc-off-canvas-container">
  <div class="cc-offcanvas-left cc-print-hide" id="cc-navigation">
    <%= render 'templates/navigation' %>
  </div>

  <div class="cc-offcanvas-right">
    <div
    class="row cc-container-main"
    data-ng-class="{'collapse':(controllerName === 'DashboardController' || controllerName === 'AcademicsController')}"
    id="cc-main-content"
    role="main">
      <%= render 'templates/alerts' %>
      <div class="cc-clearfix-container" data-ng-view></div>
    </div>
    <div data-ng-include="'footer.html'" %>
  </div>
</div>
<%= render 'templates/actingas' %>
<%= render 'templates/all' %>
