<%= render 'templates/accessibilty' %>
<%= render 'templates/ieold' %>
<%= render 'templates/launcher' %>

<div class="cc-off-canvas-container">
  <div class="cc-offcanvas-left" id="cc-navigation">
    <%= render 'templates/navigation' %>
  </div>

  <div class="cc-offcanvas-right">
    <div
    class="row cc-container-main"
    data-ng-class="{'collapse':(controller_name=='DashboardController' || controller_name=='AcademicsController')}"
    id="cc-main-content"
    role="main">
      <div data-ng-view></div>
    </div>
    <%= render 'templates/footer' %>
  </div>
</div>
<%= render 'templates/actingas' %>
<%= render 'templates/all' %>
