<%= render 'templates/ieold' %>
<%= render 'templates/launcher' %>

<div class="cc-off-canvas-container">
  <div class="cc-offcanvas-left">
    <%= render 'templates/navigation' %>
  </div>

  <div class="cc-offcanvas-right">
    <div
    class="row cc-container-main"
    data-ng-class="{'collapse':(_controller_name=='DashboardController')}"
    role="main">
      <div data-ng-view></div>
    </div>
    <%= render 'templates/footer' %>
  </div>
</div>

<%= render 'templates/all' %>
