<script type="text/ng-template" id="templates/dashboard.html">
  <div class="medium-5 columns medium-push-3 cc-page-dashboard-column-b">
    <%= render 'templates/widgets/hookup_google_reminder' %>
    <%= render 'templates/widgets/tasks' %>
  </div>

  <div class="medium-4 columns medium-push-3 cc-page-dashboard-column-c">
    <%= render 'templates/widgets/activity' %>
  </div>

  <div class="medium-3 columns medium-pull-9 cc-page-dashboard-column-a">
    <%= render 'templates/widgets/up_next' %>
    <%= render 'templates/widgets/my_classes' %>
    <%= render 'templates/widgets/my_groups' %>
  </div>
</script>
