<script type="text/ng-template" id="templates/dashboard.html">
  <div class="five columns push-three cc-page-dashboard-column-b">
    <%= render 'templates/widgets/tasks' %>
  </div>

  <div class="four columns push-three cc-page-dashboard-column-c">
    <%= render 'templates/widgets/notifications' %>
  </div>

  <div class="three columns pull-nine cc-page-dashboard-column-a">
    <%= render 'templates/widgets/up_next' %>
    <%= render 'templates/widgets/my_classes' %>
    <%= render 'templates/widgets/my_groups' %>
  </div>
</script>
