<script type="text/ng-template" id="templates/dashboard.html">
  <div class="large-5 columns push-3 cc-page-dashboard-column-b">
    <%= render 'templates/widgets/tasks' %>
  </div>

  <div class="large-4 columns push-3 cc-page-dashboard-column-c">
    <% if Settings.features.notifications %>
      <%= render 'templates/widgets/notifications' %>
    <% end %>
    <%= render 'templates/widgets/activity' %>
  </div>

  <div class="large-3 columns pull-9 cc-page-dashboard-column-a">
    <%= render 'templates/widgets/up_next' %>
    <%= render 'templates/widgets/my_classes' %>
    <%= render 'templates/widgets/my_groups' %>
  </div>
</script>
