<footer class="row" data-ng-controller="FooterController" data-ng-cloak>
  <div class="cc-footer-links columns small-5">
    <a href="https://ets.berkeley.edu/category/category-tags/calcentral">News</a>
    <a href="http://ets.berkeley.edu/calcentral-feedback">Feedback</a>
    <a href="https://ets.berkeley.edu/help/calcentral">Help</a>
  </div>
  <div data-ng-click="showInfo=!showInfo" data-cc-accessible-focus-directive class="columns small-7 cc-footer-copyright end">&copy; <span data-ng-bind="api.date.now | date:'yyyy'"></span> UC Regents | <a href="//security.berkeley.edu/policy" data-ng-click="api.util.preventBubble($event)">Usage Policy</a></div>

  <div class="large-12 columns" data-ng-show="showInfo">
    <ul>
      <li>Hostname: <%= @server_settings["hostname"] %></li>
      <li><a href="https://github.com/ets-berkeley-edu/calcentral/commit/<%= @server_settings['git_commit'] %>">Git commit: <%= @server_settings["git_commit"][0,8] %></a></li>
      <li>Application Version: <%= @server_settings["versions"]["application"] %></li>
      <li>API Version: <%= @server_settings["versions"]["api"] %></li>
      <li>Current DB Schema: <%= @server_settings["versions"]["current_db_schema"] %></li>
      <li>Previous Release's DB Schema: <%= @server_settings["versions"]["previous_release_db_schema"] %></li>
      <li>Up Since: <%= @server_settings["first_visited"] %></li>
      <li>UID: <span data-ng-bind="user.profile.uid" id="user_id"></span></li>
      <li>
        <button class="tiny button" data-ng-click="deleteSelf=true">Opt out of CalCentral</button>
        <div class="cc-footer-confirmation" data-ng-show="deleteSelf">Are you sure?
          <button class="first tiny button" data-ng-click="user.optOut()">Yes</button>
          <button class="tiny button" data-ng-click="deleteSelf=false">No</button>
        </div>
      </li>
    </ul>
  </div>

</footer>
