<%= render 'templates/ieold' %>

<div class="cc-off-canvas-container cc-canvas-embedded">
  <div
  class="row cc-container-main"
  role="main">
    <div data-ng-view></div>
  </div>
</div>

<%= render 'templates/error_404' %>
<%= render 'templates/canvas_embedded/roster' %>
<%= render 'templates/canvas_embedded/course_provision' %>
<%= render 'templates/canvas_embedded/user_provision' %>
<%= render 'templates/canvas_embedded/course_add_user' %>
