<!DOCTYPE html>
<html lang="en" data-ng-app="calcentral" data-ng-controller="CalcentralController">
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title data-ng-bind="title">CalCentral</title>

  <meta name="description" content="CalCentral is a new resource for the UC Berkeley community." />

  <link rel="icon" href="/assets/favicon.png" type="image/png" />

  <link rel="shortcut icon" href="/assets/favicon.ico" />

  <!-- Included CSS Files -->
  <%= stylesheet_link_tag "application" %>

  <!-- Included JS Files  -->
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>

<body data-ng-class="{'cc-page-splash':(controller_name=='SplashController')}">

    <%= render 'templates/launcher' %>
    <!-- Top Navbar -->
    <div class="row">
      <ul class="nav-bar">
        <li data-ng-class="{true:'active'}[controller_name=='DashboardController']"><a href="/dashboard">My Dashboard</a></li>
        <li data-ng-class="{true:'active'}[controller_name=='SettingsController']"><a href="/settings">Settings</a></li>
      </ul>
    </div>

    <div class="row cc-container-main" role="main">
      <%= yield %>
    </div>

    <footer class="row" data-ng-controller="FooterController">
      <div class="six columns mobile-three" data-ng-cloak>Copyright &copy; {{currentTime() | date:'yyyy'}} The Regents of the University of California</div>
      <div class="six columns mobile-one">
        <a href="#">Help</a>
        <a href="http://ets.berkeley.edu/calcentral-feedback">Feedback</a>
      </div>
    </footer>

    <%= render 'templates/all' %>

  </body>
</html>
