<!DOCTYPE html>
<html lang="en" data-ng-app="calcentral" data-ng-controller="CalcentralController">
<head>
  <% cache "#{@server_settings['hostname']}/bootstrap/head" do %>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="CalCentral is a new resource for the UC Berkeley community." />
    <title data-ng-bind="title">CalCentral</title>

    <noscript><meta http-equiv="Refresh" content="0; URL=/enable-javascript.html"></noscript>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'favicon.png', :rel => 'icon', :type => 'image/png' %>

    <!--
      TODO - remove when AngularJS 1.1.6 or 1.2.0 gets released
      https://github.com/angular/angular.js/pull/2969
    -->
    <base href="/">

    <!-- Included CSS Files -->
    <%= stylesheet_link_tag "application" %>

    <!-- Included JS Files  -->
    <%= javascript_include_tag "application" %>
  <% end %>
  <%= csrf_meta_tags %>
</head>

<body
  data-ng-class="{'cc-page-splash':(_controller_name=='SplashController'),'cc-offcanvas-show':(off_canvas_menu._show)}"
  data-ng-click="api.popover.closeAll()"
  data-ng-show="api.user.events.isLoaded">

  <%= yield %>
</body>
</html>
